@import "theme.less";

html {
  color: #000;
  font-family: sans-serif;
  font-size: 10pt;
}

.icon {
    margin: 0.3rem 0.2rem;
    height: 1rem;
    width: 1rem;
    float: left;
    fill: currentColor;
    fill: var(--darker-theme-color);
}

main {
  p, ul {
    margin: 1rem;
    max-width: unset;
  }

  p {
    padding: 0;
  }
}

body {
  > header {
    background: none;
    color: #000;
    padding: 0 6rem 10px 0;

    h1 {
      color: var(--darker-theme-color);
      font-size: 3em;
      margin: 0 0 10px 0;
      line-height: 1;

      blockquote {
        font-size: 1.1rem;
        margin: 0px 2ch;
      }
    }

    .contact {
      line-height: 1;

      .icon {
        margin: 0.1rem 0.2rem;
      }
    }

    .search {
      display: none;
    }

    a.qr {
      display: block;
      position: absolute;
      right: 0px;
      top: 0px;

      img {
        height: 8rem;
      }
    }

    //> div,
    div.contact > p {
      display: inline-block;
      margin-right: 20px;
    }

    > h1, >h2, >p, > div {
      max-width: none;
    }
  }
}

section {
  background: none;
  border-top: solid 2px #000;
  margin: 8px 0px;

  &.professional_memberships,
  &.interests {
    display: none;
  }

  > h2 {
    font-size: 1.2em;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0px;
    color: var(--darker-theme-color);
  }

  a:after {
    content: none;
  }

  > p {
    margin: 0px;
    padding: 5px 0px;
  }

  > h2, > p {
    max-width: none;
  }

  li {
    margin: 0px;
  }

  article {
    background: none;
    margin: 0px;
    margin-bottom: 20px;
    padding: 0px;
    page-break-inside: avoid;

    h3 {
      font-size: 1.1em;
    }

    h4 {
      font-size: 1em;
    }

    ul, p {
      margin: 5px 0px;
    }

    > date,
    > p.date {
      font-size: 0.8em;
    }

    > h3, > h4, >p, > date, > div, > ul {
      max-width: none;
    }
  }

    p.technologies {
      font-size: 0.8em;
      padding-left: 10px;
    }

  .searchHit {
    background: none;
  }

  .searchHidden {
    display: block;
  }
}

.tags.buttons {
  display: none;
}

.noTechnologies .technologies {
  display: none;
}

.short .noprint {
  display: none  !important;
}

.dev .noprint, .dev .tagHidden {
  display: revert !important;
  background: rgba(170, 0, 0, 0.1);
}
