:root {
  --main-theme-color: hsl(76, 100%, 25%);
  --darker-theme-color: hsl(76, 100%, 19%);
  --max-text-width: 900px;
}
html {
  color: #000;
  font-family: sans-serif;
  font-size: 10pt;
}
.icon {
  margin: 0.3rem 0.2rem;
  height: 1rem;
  width: 1rem;
  float: left;
  fill: currentColor;
  fill: var(--darker-theme-color);
}
main p,
main ul {
  margin: 1rem;
  max-width: unset;
}
main p {
  padding: 0;
}
body > header {
  background: none;
  color: #000;
  padding: 0 6rem 10px 0;
}
body > header h1 {
  color: var(--darker-theme-color);
  font-size: 3em;
  margin: 0 0 10px 0;
  line-height: 1;
}
body > header h1 blockquote {
  font-size: 1.1rem;
  margin: 0px 2ch;
}
body > header .contact {
  line-height: 1;
}
body > header .contact .icon {
  margin: 0.1rem 0.2rem;
}
body > header .search {
  display: none;
}
body > header a.qr {
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
}
body > header a.qr img {
  height: 8rem;
}
body > header div.contact > p {
  display: inline-block;
  margin-right: 20px;
}
body > header > h1,
body > header > h2,
body > header > p,
body > header > div {
  max-width: none;
}
section {
  background: none;
  border-top: solid 2px #000;
  margin: 8px 0px;
}
section.professional_memberships,
section.interests {
  display: none;
}
section > h2 {
  font-size: 1.2em;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 0px;
  color: var(--darker-theme-color);
}
section a:after {
  content: none;
}
section > p {
  margin: 0px;
  padding: 5px 0px;
}
section > h2,
section > p {
  max-width: none;
}
section li {
  margin: 0px;
}
section article {
  background: none;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
  page-break-inside: avoid;
}
section article h3 {
  font-size: 1.1em;
}
section article h4 {
  font-size: 1em;
}
section article ul,
section article p {
  margin: 5px 0px;
}
section article > date,
section article > p.date {
  font-size: 0.8em;
}
section article > h3,
section article > h4,
section article > p,
section article > date,
section article > div,
section article > ul {
  max-width: none;
}
section p.technologies {
  font-size: 0.8em;
  padding-left: 10px;
}
section .searchHit {
  background: none;
}
section .searchHidden {
  display: block;
}
.tags.buttons {
  display: none;
}
.noTechnologies .technologies {
  display: none;
}
.short .noprint {
  display: none  !important;
}
.dev .noprint,
.dev .tagHidden {
  display: revert !important;
  background: rgba(170, 0, 0, 0.1);
}
