html {
  font-family: monospace;
  color: #333;
}
html,
body {
  min-height: 100%;
  padding: 0px;
  margin: 0px;
}
body > header {
  position: relative;
  padding: 10px 4%;
  background: #82a31d;
  color: #fff;
}
body > header h1 {
  font-size: 4em;
  margin: 0px;
}
body > header h2 {
  font-size: 1.5em;
  margin: 0px;
}
body > header a,
body > header a:hover {
  color: inherit;
  text-decoration: none;
}
body > header a:hover {
  color: #333;
}
body > header input {
  display: block;
  margin: 10px 0px;
  width: 100%;
}
body > header a.qr {
  display: none;
}
@media (min-width: 400px) {
  body > header input {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: auto;
  }
}
body > header div.contact p {
  margin: 0px;
}
body > header > h1,
body > header > h2,
body > header > p,
body > header > div {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
section {
  background: rgba(130, 163, 29, 0.1);
  margin: 20px 0px;
  padding: 1px 0px 1px 0px;
}
section > h1 {
  font-weight: bold;
  padding: 0px 4%;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}
section > h1:before {
  font-weight: normal;
  color: #eee;
}
section > h1:after {
  font-weight: normal;
  color: #eee;
}
section > p {
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}
section > ul {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}
section a {
  color: inherit;
  text-decoration: none;
}
section a:after {
  content: ' \f08e';
  font-family: 'FontAwesome';
  font-size: 60%;
}
section a:hover {
  text-decoration: underline;
  color: #000;
}
section li {
  margin: 5px 0px;
}
section article {
  background: rgba(130, 163, 29, 0.1);
  padding: 10px 5%;
  margin: 0px;
  margin-bottom: 20px;
}
section article h1 {
  margin: 0px;
  font-size: 1.5em;
}
section article h2 {
  margin: 0px;
  font-size: 1.2em;
}
section article > date,
section article > p.date {
  display: block;
  margin: 0px auto;
  color: #999;
}
section article p.company,
section article p.location,
section article p.school {
  margin: 0px auto;
  color: #333;
}
section article p.company,
section article p.school {
  padding-left: 10px;
}
section article p.location {
  font-size: 0.8em;
  padding-left: 20px;
}
section article p > span {
  display: inline-block;
  margin-right: 10px;
}
section article > h1,
section article > h2,
section article > p,
section article > date,
section article > div,
section article > ul {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
section .searchHit {
  background: #FF0;
}
section .searchHidden {
  display: none;
}
section.profile:after {
  font-size: 1em;
}
section.profile > h1 {
  font-weight: bold;
}
section.profile > h1:before {
  font-size: 1em;
}
section.profile > p {
  padding: 10px 5%;
}
