:root {
  --main-theme-color: hsl(76, 100%, 25%);
  --darker-theme-color: hsl(76, 100%, 19%);
  --max-text-width: 900px;
}
html {
  font-family: monospace;
  color: #333;
}
html,
body {
  min-height: 100%;
  padding: 0px;
  margin: 0px;
}
.icon {
  margin: 0.2rem 0.5rem;
  height: 1.4rem;
  width: 1.4rem;
  float: left;
  fill: currentColor;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
main p,
main ul {
  margin: 1rem auto;
  max-width: 900px;
  max-width: var(--max-text-width);
}
main ul ul {
  margin: 0;
}
main p {
  padding: 0 1rem;
}
body > header {
  position: relative;
  padding: 10px 4%;
  background: hsl(76, 100%, 25%);
  color: #fff;
}
body > header .contact {
  line-height: 2.1rem;
}
body > header .contact .icon {
  margin: 0.3rem 0.5rem;
}
body > header h1 {
  font-size: 3rem;
  margin: 0 0 10px 0;
  line-height: 1;
}
body > header h1 blockquote {
  font-size: 1.2rem;
  margin: 0px 2ch;
}
body > header a,
body > header a:hover {
  color: inherit;
  text-decoration: none;
}
body > header a:hover {
  color: #333;
}
body > header .search {
  display: block;
  margin: 10px 0;
  font-size: 0.8rem;
  text-align: right;
}
body > header .search input {
  display: block;
  font-size: 1rem;
  width: 100%;
}
body > header a.qr {
  display: none;
}
@media (min-width: 550px) {
  body > header .search {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: auto;
  }
}
body > header div.contact p {
  margin: 0px;
}
body > header > h1,
body > header > h2,
body > header > p,
body > header > div {
  max-width: 900px;
  max-width: var(--max-text-width);
  margin-left: auto;
  margin-right: auto;
}
.technologies i {
  white-space: nowrap;
}
.tags {
  padding: 10px 4%;
  margin-left: auto;
  margin-right: auto;
  max-width: 850px;
  line-height: 3;
  line-height: calc(1rem + 25px);
}
.tags button {
  background: rgba(130, 163, 29, 0.1);
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}
.tags button:hover {
  background: rgba(130, 163, 29, 0.6);
}
.tags button[aria-pressed=true] {
  background: rgba(130, 163, 29, 0.4);
}
.tags button[aria-pressed=true]:hover {
  background: rgba(130, 163, 29, 0.9);
}
section {
  background: rgba(130, 163, 29, 0.1);
  margin: 20px 0 60px 0;
  padding: 1px 0px 1px 0px;
}
section > p,
section > h2,
section > ul {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  max-width: var(--max-text-width);
}
section > h2 {
  font-weight: bold;
  padding: 0px 4%;
  font-size: 1.6em;
}
section > h2:before {
  font-weight: normal;
  color: #eee;
}
section > h2:after {
  font-weight: normal;
  color: #eee;
}
section > p {
  font-size: 1em;
  padding: 0px 4%;
}
section a {
  color: inherit;
  text-decoration: none;
}
section a:after {
  margin-left: 3px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="m402 265l0 92c0 22-8 42-24 58-16 16-35 24-58 24l-238 0c-22 0-42-8-58-24-16-16-24-36-24-58l0-238c0-23 8-42 24-58 16-16 36-24 58-24l201 0c3 0 5 0 7 2 2 2 3 4 3 7l0 18c0 3-1 5-3 7-2 1-4 2-7 2l-201 0c-12 0-23 5-32 14-9 9-13 19-13 32l0 238c0 12 4 23 13 32 9 9 20 13 32 13l238 0c13 0 23-4 32-13 9-9 14-20 14-32l0-92c0-3 1-5 2-6 2-2 4-3 7-3l18 0c3 0 5 1 7 3 1 1 2 3 2 6z m110-247l0 147c0 5-2 9-5 12-4 4-8 6-13 6-5 0-10-2-13-6l-50-50-187 186c-2 2-4 3-6 3-3 0-5-1-7-3l-32-32c-2-2-3-4-3-7 0-2 1-4 3-6l186-187-50-50c-4-3-6-8-6-13 0-5 2-9 6-13 3-3 7-5 12-5l147 0c5 0 9 2 13 5 3 4 5 8 5 13z"/></svg>');
  height: 0.8em;
  width: 0.8em;
  fill: currentColor;
  content: '';
  display: inline-block;
}
section a:hover {
  text-decoration: underline;
  color: #000;
}
section li {
  margin: 5px 0px;
}
section article {
  background: rgba(130, 163, 29, 0.1);
  padding: 10px 5%;
  margin: 0px;
  margin-bottom: 20px;
}
section article h3 {
  margin: 0px;
  font-size: 1.1em;
}
section article h4 {
  margin: 0px;
  font-size: 1em;
}
section article > date,
section article > p.date {
  display: block;
  margin: 0px auto;
  color: #696969;
}
section article p.company,
section article p.location,
section article p.school {
  margin: 0px auto;
  color: #333;
}
section article span.location {
  display: inline-block;
  font-size: 0.8em;
  margin-left: 5px;
}
section article p.company,
section article p.school {
  padding-left: 10px;
}
section article p.location {
  font-size: 0.8em;
  padding-left: 20px;
}
section article p > span {
  display: inline-block;
  margin-right: 10px;
}
section article > h3,
section article > h4,
section article > p,
section article > date,
section article > div,
section article > ul {
  max-width: 900px;
  max-width: var(--max-text-width);
  margin-left: auto;
  margin-right: auto;
}
section article.tagHidden {
  display: none;
}
section .searchHit {
  background: #FF0;
}
section .searchHidden {
  display: none;
}
section.profile:after {
  font-size: 1em;
}
section.profile > h1 {
  font-weight: bold;
}
section.profile > h1:before {
  font-size: 1em;
}
section.profile > p {
  padding: 10px 5%;
}
