html {
  color: #000;
  font-family: sans-serif;
}
body > header {
  background: none;
  color: #000;
  padding: 10px 40px 10px 0px;
}
body > header h1 {
  font-size: 2em;
}
body > header h2 {
  font-size: 1.2em;
}
body > header input {
  display: none;
}
body > header a.qr {
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
}
body > header a.qr img {
  height: 121px;
}
body > header div.contact > p {
  display: inline-block;
  margin-right: 20px;
}
body > header > h1,
body > header > h2,
body > header > p,
body > header > div {
  max-width: none;
}
section {
  background: none;
  border-top: solid 2px #000;
  margin: 8px 0px;
}
section.professional_memberships,
section.interests {
  display: none;
}
section > h1 {
  font-size: 1.2em;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px;
}
section a:after {
  content: none;
}
section > p {
  margin: 0px;
}
section > h1,
section > p {
  max-width: none;
}
section li {
  margin: 0px;
}
section article {
  background: none;
  page-break-inside: avoid;
  margin: 0px;
  margin-bottom: 10px;
  padding: 0px 30px;
}
section article h1 {
  font-size: 1.1em;
}
section article ul,
section article p {
  margin: 5px 0px;
}
section article > date,
section article > p.date {
  font-size: 0.8em;
}
section article > h1,
section article > h2,
section article > p,
section article > date,
section article > div,
section article > ul {
  max-width: none;
}
section p.technologies {
  display: none;
}
section .searchHit {
  background: none;
}
section .searchHidden {
  display: block;
}
.noprint {
  display: none  !important;
}
