@import "theme.less";

html {
  font-family: monospace;
  color: #333;
}

html, body {
  min-height: 100%;
  padding: 0px;
  margin: 0px;
}

.icon {
  margin: 0.2rem 0.5rem;
  height: 1.4rem;
  width: 1.4rem;
  float: left;
  fill: currentColor
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

main {
  p, ul {
    margin: 1rem auto;
    max-width: 900px;
    max-width: var(--max-text-width);
  }

  ul ul {
    margin: 0;
  }

  p {
    padding: 0 1rem;
  }
}

body {
  > header {
    position: relative;
    padding: 10px 4%;
    background: hsl(76, 100%, 25%);
    color: #fff;

    .contact {
      line-height: 2.1rem;

      .icon {
        margin: 0.3rem 0.5rem;
      }
    }

    h1 {
      font-size: 3rem;
      margin: 0 0 10px 0;
      line-height: 1;

      blockquote {
        font-size: 1.2rem;
        margin: 0px 2ch;
      }
    }

    a {
      &, &:hover {
        color: inherit;
        text-decoration: none;
      }

      &:hover {
        color: #333;
      }
    }

    .search {
      display: block;
      margin: 10px 0;
      font-size: 0.8rem;
      text-align: right;

      input {
        display: block;
        font-size: 1rem;
        width: 100%;
      }
    }

    a.qr {
      display: none;
    }

    @media (min-width: 550px) {
      .search {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: auto;
      }
    }

    div.contact p {
      margin: 0px;
    }

    > h1, > h2, >p, > div, {
      max-width: 900px;
      max-width: var(--max-text-width);
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.technologies i {
  white-space: nowrap;
}

.tags {
  padding: 10px 4%;
  margin-left: auto;
  margin-right: auto;
  max-width: 850px;
  line-height: 3;
  line-height: calc(1rem + 25px);

  button {
    background: rgba(130, 163, 29, .1);
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;

    &:hover {
      background: rgba(130, 163, 29, .6);
    }

    &[aria-pressed=true] {
      background: rgba(130, 163, 29, .4);

      &:hover {
        background: rgba(130, 163, 29, .9);
      }
    }
  }
}

section {
  background: rgba(130, 163, 29, .1);
  margin: 20px 0 60px 0;
  padding: 1px 0px 1px 0px;

  > p, > h2, > ul {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    max-width: var(--max-text-width);
  }

  > h2 {
    font-weight: bold;
    padding: 0px 4%;
    font-size: 1.6em;

    &:before {
      font-weight: normal;
      color: #eee;
    }

    &:after {
      font-weight: normal;
      color: #eee;
    }
  }

  > p {
    font-size: 1em;
    padding: 0px 4%;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:after{
      margin-left: 3px;
      background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="m402 265l0 92c0 22-8 42-24 58-16 16-35 24-58 24l-238 0c-22 0-42-8-58-24-16-16-24-36-24-58l0-238c0-23 8-42 24-58 16-16 36-24 58-24l201 0c3 0 5 0 7 2 2 2 3 4 3 7l0 18c0 3-1 5-3 7-2 1-4 2-7 2l-201 0c-12 0-23 5-32 14-9 9-13 19-13 32l0 238c0 12 4 23 13 32 9 9 20 13 32 13l238 0c13 0 23-4 32-13 9-9 14-20 14-32l0-92c0-3 1-5 2-6 2-2 4-3 7-3l18 0c3 0 5 1 7 3 1 1 2 3 2 6z m110-247l0 147c0 5-2 9-5 12-4 4-8 6-13 6-5 0-10-2-13-6l-50-50-187 186c-2 2-4 3-6 3-3 0-5-1-7-3l-32-32c-2-2-3-4-3-7 0-2 1-4 3-6l186-187-50-50c-4-3-6-8-6-13 0-5 2-9 6-13 3-3 7-5 12-5l147 0c5 0 9 2 13 5 3 4 5 8 5 13z"/></svg>');
      height: 0.8em;
      width: 0.8em;
      fill: currentColor;
      content: '';
      display: inline-block;
    }

    &:hover {
      text-decoration: underline;
      color: #000;
    }
  }

  li {
    margin: 5px 0px;
  }

  article {
    background: rgba(130, 163, 29, .1);
    padding: 10px 5%;
    margin: 0px;
    margin-bottom: 20px;

    h3 {
      margin: 0px;
      font-size: 1.1em;
    }

    h4 {
      margin: 0px;
      font-size: 1em;
    }


    > date,
    > p.date {
      display: block;
      margin: 0px auto;
      color: #696969;
    }

    p.company, p.location, p.school {
      margin: 0px auto;
      color: #333;
    }

    span.location {
      display: inline-block;
      font-size: 0.8em;
      margin-left: 5px;
    }

    p.company, p.school {
      padding-left: 10px;
    }

    p.location {
      font-size: 0.8em;
      padding-left: 20px;
    }

    p > span {
      display: inline-block;
      margin-right: 10px;
    }

    > h3, > h4, >p, > date, > div, > ul {
      max-width: 900px;
      max-width: var(--max-text-width);
      margin-left: auto;
      margin-right: auto;
    }

    &.tagHidden {
      display: none;
    }
  }

  .searchHit {
    background: #FF0;
  }

  .searchHidden {
    display: none;
  }
}

section.profile {
  &:after {
    //content: '*/';
    font-size: 1em;
  }

  &:before {
  }

  > h1 {
    font-weight: bold;

    &:before {
      font-size: 1em;
      //content: '/**';
    }

    &:after {
    }
  }

  > p {
    padding: 10px 5%;
  }
}
